@font-face {
    font-family: 'LemonMilk';
    src: local('LemonMilk'), url(./fonts/LemonMilk.otf) format('opentype');
}

@font-face {
    font-family: 'Monterey';
    src: local('MontereyFLF'), url(./fonts/MontereyFLF.ttf) format('truetype');
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1.6rem;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-header {
    font-size: 32px;
    font-size: 3.2rem;
}